{% comment %} Everything is already inside of html and body tags {% endcomment %}
<link rel="stylesheet" type="text/css" href="/build/app.css">
{% comment %} <script src="index.js"> {% endcomment %}
<header>
	<a href="/index.html"><img src="/assets/images/waratah-logo.png"></a>
	<nav>
		<ul>
			{% for topLevel in nav %}
				<li>{{ topLevel.name }}
					<div class="sub-menu">
						<ul>
							{% for item in topLevel.children %}
								<li>
								{% if item.url %}
									<a href="/{{ item.url }}">{{ item.name }}</a>
								{% else %}
									<a href="/{{ item.name | replace: ' ', '_' }}">{{ item.name }}</a>
								{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>

<section class="banner">
	<img src="/assets/images/banner.jpg">
	<h1>
		{% if title %}
			{{ title | capitalize }}
		{% else %}
			{{ page.fileSlug | capitalize }}
		{% endif %}
	</h1>
	<h2>To protect and conserve coral reefs,the heart of our oceans</h2>
</section>

<div class="content">
	{{ content }}
</div>

<img src="/assets/images/banner.jpg">
<footer class="socials">
	<a href="https://www.instagram.com/unsw_igem/"><img src="/assets/images/Social-Instagram.svg"></a>
	<a href="https://www.facebook.com/unswigemteam"><img src="/assets/images/Social-Facebook.svg"></a>
</footer>
