---
layout: default.liquid
---

{{ content }}

<div id="model-links">
    {% for model in collections.model %}
        <a href="/Model/{{ model.data.page.fileSlug }}" class="card">
            {{ model.data.page.fileSlug | capitalize }}
            <img src="/assets/images/team/{{model.data.image | capitalize }}.jpg">
            {{ model.data.summary }}
        </a>
    {% endfor %}
</div>
