---
layout: default.liquid
---

{{ content }}

<div id="model-links">
    {% for model in collections.model %}
        <div>
            <div class="title">
                <h1> {{ model.data.page.fileSlug | capitalize }} </h1>
            </div>

            <div class="box">
                <p>{{ model.data.summary }}</p>
                <div class="padding">
                    <a href="/Model/{{ model.data.page.fileSlug }}">
                        <button>READ MORE</button>
                    </a>
                </div>
                <img src="/assets/images/model/{{model.data.image }}">

            </div>
           
        </div> 
        

    {% endfor %}
</div>
